* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #141414;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: transparent;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background: linear-gradient(to bottom, rgba(0,0,0,0.9), transparent);
}

ul {
    display: flex;
    list-style: none;
}

ul li {
    margin: 0 15px;
}

ul li a {
   text-decoration: none;
   color: #e5e5e5;
   font-weight: bold;
   transition: color 0.3s;
}

ul li a:hover {
    color: #b3b3b3;
}

button {
    padding: 8px 20px;
    background-color: #e50914; 
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
   transform: scale(1.07);
   transition: 0.4s;
}

.vitrin {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, #000 30%, transparent 100%), url('https://image.tmdb.org/t/p/original/rAiYTfKGqDCRIIqo664sY9XZIvQ.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    position: relative;
}

.vitrin-icerik {
    margin-left: 50px;
    max-width: 600px;
    padding-top: 80px;
}

.film-baslik {
   font-size: 60px;
   font-weight: bold;
   margin-bottom: 20px;
}

.film-ozet {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
    color: #ddd;
}

.butonlar button {
    padding: 12px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 15px;
    font-weight: bold;
}

.btn-izle {
    background-color: white;
    color: black;
}

.btn-bilgi {
    background-color: rgba(109, 109, 110, 0.7);
    color: white;
}

.butonlar button:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.kategori-cubugu {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 30px 0;
    flex-wrap: wrap;
}

.kat-btn {
    background-color: transparent; 
    border: 1px solid #666;       
    color: #999;                   
    border-radius: 50px;           
    padding: 8px 25px;             
    font-size: 14px;
    font-weight: 500;
    transition: 0.3s;
}

.kat-btn:hover, .kat-btn.aktif {
    border-color: white;
    color: white;
    background-color: #333;
    transform: none;
}

.liste-baslik {
    margin-left: 50px;
    margin-bottom: 20px;
    font-size: 24px;
    color: white;
}


.film-listesi {
    padding: 0 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    gap: 30px;
}

.film-kart {
    background-color: #1f1f1f;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.film-kart:hover {
     transform: scale(1.05);  
    z-index: 2;              
    cursor: pointer;         
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); 
}


.film-kart img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.kart-detay {
    padding: 15px;
}

.info-satir {
    display: flex;
    justify-content: space-between;
    color: #aaa;
    margin-top: 10px;
}


.alt-bilgi {
    background-color: #000; 
    padding: 40px 20px;
    text-align: center;
    color: #777; 
    margin-top: 50px; 
    border-top: 1px solid #222; 
}

.alt-bilgi p {
    margin-bottom: 15px;
    font-size: 14px;
}

.sosyal-linkler span {
    margin: 0 10px;
    cursor: pointer;
    font-weight: bold;
    color: #aaa;
    transition: 0.3s;
}

.sosyal-linkler span:hover {
    color: white; 
}